.im--description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.im--link {
    font-size: 14px;
}

.im--names {
    display: flexbox;
}
.im--team {
    color: #e91e63;
}