.capacity--main {
	display: flex;
    flex-direction: column;
    margin: 20px 5px;

    .title {
        padding: 0 20px;
    }
    .form-row {
        display: flex;
        padding: 10px 20px 0 20px;
    }

    .MuiDialogActions-root {
        padding: 10px 20px;
    }

    .MuiFormControl-root {
        margin: 0 5px;
    }

    #capacity-input {
        text-align: right;
    }
}