.ib--main {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    .title {
        margin: 20px;
        font-size: 16px;
    }
    .chart-title {
        font-size: 16px;
        font-weight: 800;
    }

    .select {
        width: 240px;
    }

    .LegendItem-root-40 {
        padding: 2px;
    }
    .MuiTypography-body1 {
        font-size: 12px;
    }

    .ib--button {
        height: 30px;
        margin: 10px 0;
    }

    .search-input {
        width: 260px;
        margin-right: 5px;
    }

    .select-menu {
        display: flex;
    }
}

.ib--impressum {
    cursor: pointer;
}
